
<div class="bg-white min-h-screen flex flex-col" >

    <form
         
          name="form"
          novalidate
        >
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
          <div class="bg-slate-200 px-6 py-8 rounded shadow-md text-black w-full">
        <h1 class="mb-8 text-3xl text-center">Welcome Back</h1>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
          
    
            
          />
        
        </div>
    
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
        
          />
         
        </div>
        
       
        <div class="form-group">
          <button class="btn btn-primary btn-block" routerLink="/cards" >Login</button>
        </div>
        <!-- <div class="form-group">
        
        </div>
        <div class="text-center text-sm text-grey-dark mt-4">
          Forgot 
          <a class="no-underline border-b border-grey-dark text-grey-dark text-blue-500" href="#">
              Password?
    
          </a>
      </div> -->
       
    
          </div>
        </div>
        <!-- <div class="text-grey-dark mt-6 text-black" id="cent" >
          Do not have an account? 
          <a class="no-underline border-b border-blue text-red-600" href="../register/">
              Register
          </a>
          </div>
     -->
      </form>
 
     
    </div>


    <!-- <h1 class="mb-8 text-3xl text-center">Register</h1>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        formControlName="username"
        [(ngModel)]="username"
        
      />



    <div class="form-group">
        <label for="password">Password</label>
        <input
        formControlName="password"
        [(ngModel)]="password"
        type="password"
        class="form-control"
        name="password"
       
      />

      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit" >login</button>
      </div>
    

    </div> -->