
<!-- <img [src]="product.image_url" class="card-img-top" alt="..."> -->

<div class="container">
    <div class="row">
      <div class="col-3" *ngFor="let product of products">
        <div class="card" style="margin-top: 50px; cursor: pointer;" routerLink="['/productdetail', product.id]">
          <img [src]="product.image_url" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.information}}</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">{{product.title}}</small>
          </div>
        </div>
      </div>
    </div>
</div>
  