.top{
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/room-divider-ideas-tranebergsva-gen-stockholm-living-room-industry-fantastic-frank-popular-copy-1561410782.jpg?crop=1xw:0.8435812837432514xh');
    /* ;center,top&resize=1200:* */
  height: 100vh;
  margin-top: -3rem;
}

.img
{
    width: 200px;
    height: 200px;
   
    position: absolute;
    /* left: 50%; */
    align-content: center;
    justify-content: center;
    display: flex;
}


.main
{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
   
}

