<p style="background-image: url('https://hips.hearstapps.com/hmg-prod/images/room-divider-ideas-tranebergsva-gen-stockholm-living-room-industry-fantastic-frank-popular-copy-1561410782.jpg?crop=1xw:0.8435812837432514xh;center,top&resize=1200:*');"></p>

   <div class="container mt-5" style="padding-top:100px;">
 
    <div class="jumbotron" >
        <h1 class="display-4">Welcome to the <span style="color:#1b53e0;; font-weight:700;">House Styling</span></h1>
        <p class="lead">DIY House Interior Design.</p>
        <hr class="my-4">
        <p class="info">Choose The Best Design To  Style Your House .</p>
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <div class="viewprod-btn" >
           
            <a class="btn btn-secondary btn-lg btn2" style="background-color: #1023f0d1; border-color: #4b9a9e;" type="submit" role="button" id="take" routerLink="/register">View Products</a>
        </div>
        </ul>
        
    </div>
</div>

<div class="head-title">
      <h1></h1>
      <h3></h3>

</div>
<br>
<br>


  